<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certificates</title>
    <link rel="stylesheet" href="/css/style.css" />

    <!-- AOS CSS -->
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- Certificate Section -->
    <div class="certificate-section" data-aos="fade-up">
      <h2>CERTIFICATES</h2>
      <div class="certificates">
        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/Red Hat (RHCSA).jpg')" data-aos="zoom-in">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/Red Hat (RHCSA).jpg" alt="Certificate 1" loading="lazy" />
            <div class="certificate-description">
              <h3>Red Hat Certified System Administrator</h3>
              <p>Certified by Red Hat</p>
            </div>
          </div>
        </div>
        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/Linkedin essesntial js.jpg')" data-aos="zoom-in" data-aos-delay="100">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/Linkedin essesntial js.jpg" alt="Certificate 2" loading="lazy" />
            <div class="certificate-description">
              <h3>Pelatihan Essensial Javascript</h3>
              <p>Certified by Linkedin</p>
            </div>
          </div>
        </div>
        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/Linkedin dasar API.jpg')" data-aos="zoom-in" data-aos-delay="200">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/Linkedin dasar API.jpg" alt="Certificate 3" loading="lazy" />
            <div class="certificate-description">
              <h3>Dasar API dan Layanan Web</h3>
              <p>Certified by Linkedin</p>
            </div>
          </div>
        </div>
        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/Dasar React.jpg')" data-aos="zoom-in" data-aos-delay="300">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/Dasar React.jpg" alt="Certificate 4" loading="lazy" />
            <div class="certificate-description">
              <h3>Learn to Create Web Applications With React</h3>
              <p>Certified by Dicoding</p>
            </div>
          </div>
        </div>

        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/Dasar Backend.jpg')" data-aos="zoom-in" data-aos-delay="400">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/Dasar Backend.jpg" alt="Certificate 5" loading="lazy" />
            <div class="certificate-description">
              <h3>Learn to Create Back-End Applications for Beginners</h3>
              <p>Certified by Dicoding</p>
            </div>
          </div>
        </div>

        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/Dasar Javascript.jpg')" data-aos="zoom-in" data-aos-delay="400">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/Dasar Javascript.jpg" alt="Certificate 5" loading="lazy" />
            <div class="certificate-description">
              <h3>Learn Basic Javascript Programming</h3>
              <p>Certified by Dicoding</p>
            </div>
          </div>
        </div>

        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/Dasar AWS.jpg')" data-aos="zoom-in" data-aos-delay="400">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/Dasar AWS.jpg" alt="Certificate 5" loading="lazy" />
            <div class="certificate-description">
              <h3>Cloud Practicioner Essentials (AWS)</h3>
              <p>Certified by Dicoding</p>
            </div>
          </div>
        </div>

        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/Dasar AI.jpg')" data-aos="zoom-in" data-aos-delay="400">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/Dasar AI.jpg" alt="Certificate 5" loading="lazy" />
            <div class="certificate-description">
              <h3>Learn The Basics Of AI</h3>
              <p>Certified by Dicoding</p>
            </div>
          </div>
        </div>
        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/IBM 1.jpg')" data-aos="zoom-in" data-aos-delay="400">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/IBM 1.jpg" alt="Certificate 5" loading="lazy" />
            <div class="certificate-description">
              <h3>IBM AI Practicioner Certificate</h3>
              <p>Certified by IBM</p>
            </div>
          </div>
        </div>
        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/IBM 2.jpg')" data-aos="zoom-in" data-aos-delay="400">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/IBM 2.jpg" alt="Certificate 5" loading="lazy" />
            <div class="certificate-description">
              <h3>Enterprise Design Thinking</h3>
              <p>Certified by IBM</p>
            </div>
          </div>
        </div>
        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/IBM 3.jpg')" data-aos="zoom-in" data-aos-delay="400">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/IBM 3.jpg" alt="Certificate 5" loading="lazy" />
            <div class="certificate-description">
              <h3>Enterprise Design Thinking Practitioner</h3>
              <p>Certified by IBM</p>
            </div>
          </div>
        </div>
        <div class="certificate-card" onclick="openModal('/assets/images/Sertif-img/IBM 4.jpg')" data-aos="zoom-in" data-aos-delay="400">
          <div class="certificate-content">
            <img src="/assets/images/Sertif-img/IBM 4.jpg" alt="Certificate 5" loading="lazy" />
            <div class="certificate-description">
              <h3>Python For Data Science</h3>
              <p>Certified by IBM</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal">
      <span class="close" onclick="closeModal()">&times;</span>
      <img class="modal-content" id="modalImage" />
    </div>

    <!-- AOS Script -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init(); // Inisialisasi AOS
    </script>
  </body>
</html>
